@import "tailwindcss";

/* largura */
::-webkit-scrollbar {
  width: 8px;
}

/* fundo */
::-webkit-scrollbar-track {
  background: #e5e7eb; /* cinza */
}

/* barra */
::-webkit-scrollbar-thumb {
  background-color: #DB4444; /* vermelho */
  border-radius: 20px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #dc2626;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1e1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* colors */
.bg-red-10 {
  background-color: #DB4444;
}

.text-red-10 {
  color: #DB4444;
}

/* Container */
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}


/* Display Grid */
@layer utilities {
  .grid-layout{
    display: grid;
    grid-template-areas:
      'first first second second'
      'first first third fourth'
    ;
  }
  .area-first{
    grid-area: first;
    height: 37.5rem;
  }
  .area-second{
    grid-area: second;
    height: 17.7rem;
  }
  .area-third{
    grid-area: third;
     height: 17.7rem;
  }
  .area-fourth{
    grid-area: fourth;
     height: 17.7rem;
  }
}



@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}